version: 2.1

orbs:
  orb-tools: circleci/orb-tools@9.0
  aws-cli: circleci/aws-cli@dev:alpha

# Pipeline parameters
parameters:
  # These pipeline parameters are required by the "trigger-integration-tests-workflow"
  # job, by default.
  run-integration-tests:
    type: boolean
    default: false
  dev-orb-version:
    type: string
    default: "dev:alpha"

# Integration tests
integration_tests: &integration_tests
  [
    integration-test-install-v2,
    integration-test-install-v1,
    integration-test-skip-install,
    integration-test-install-v2-macos
  ]

jobs:
  integration-test-install-v2:
    executor: aws-cli/default
    steps:
      - checkout
      - aws-cli/setup

  integration-test-install-v2-macos:
    macos:
      xcode: "11.3.0"
    steps:
      - checkout
      - aws-cli/setup

  integration-test-install-v1:
    executor: aws-cli/default
    steps:
      - checkout
      - aws-cli/setup

  integration-test-skip-install:
    # This image is suitable for the test as it comes with aws preinstalled
    machine:
      image: ubuntu-1604:201903-01
    steps:
      - checkout
      - aws-cli/setup:
          skip-install-check: true

workflows:
  lint-pack_validate_deploy-dev:
    unless: << pipeline.parameters.run-integration-tests >>
    jobs:
      - orb-tools/lint

      - orb-tools/pack:
          requires: [orb-tools/lint]

      - orb-tools/publish-dev:
          context: orb-publishing
          orb-name: circleci/aws-cli
          requires: [orb-tools/pack]

      - orb-tools/trigger-integration-tests-workflow:
          context: orb-publishing
          requires: [orb-tools/publish-dev]

  integration-tests_deploy-prod:
    when: << pipeline.parameters.run-integration-tests >>
    jobs:
      - integration-test-install-v2
      - integration-test-install-v1
      - integration-test-skip-install
      - integration-test-install-v2-macos

      - orb-tools/dev-promote-prod-from-commit-subject:
          orb-name: circleci/aws-cli
          context: orb-publishing
          add-pr-comment: true
          bot-token-variable: GHI_TOKEN
          bot-user: cpe-bot
          fail-if-semver-not-indicated: true
          publish-version-tag: true
          ssh-fingerprints: ed:dc:9c:fd:ab:7e:16:5b:28:9f:98:68:5f:80:82:dd
          filters:
            branches:
              only: master
          requires: *integration_tests
